---
const heading = "Alloygator Wheel Protection";
const description =
    "Discover AlloyGator, your solution for safeguarding alloy wheels from curb damage and wear. Newark Tyres offers expert AlloyGator installation services for durable wheel protection. Elevate your wheels' style and longevity!";
const pageTitle = heading;
const heroHeadline = "Protect & Style Your Alloys";
const heroId = "heroAlloygator";
const heroTagline =
    "Prevent curb damage and add personality with Alloygator Wheel Protectors";
const contentHeading = "Alloygator Alloy Protection";
const contentSubheading = "Free Mobile Fitting Across Newark & Sherwood";
const iconOne = "bi bi-calendar-fill";
const iconTwo = "bi bi-clock-fill";
const iconThree = "bi bi-car-front-fill";
const featureOne = "Open 6 Days a Week";
const featureTwo = "Same Day Service";
const featureThree = "Free Mobile Fitting";

import ServiceLayout from "../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    pageTitle={pageTitle}
    description={description}
    heroHeadline={heroHeadline}
    heroId={heroId}
    heroTagline={heroTagline}
    contentHeading={contentHeading}
    contentSubheading={contentSubheading}
    iconOne={iconOne}
    iconTwo={iconTwo}
    iconThree={iconThree}
    featureOne={featureOne}
    featureTwo={featureTwo}
    featureThree={featureThree}
>
    <p>
        Your vehicle's wheels are more than just functional; they're a statement
        of style and performance. Protecting them from curb damage and wear is
        essential to maintain their elegance. At Newark Tyres, we proudly offer
        AlloyGator, the ultimate solution for wheel protection that not only
        enhances your wheels' appearance but also extends their lifespan.
    </p>
</ServiceLayout>
