---
const heading = "Batteries";
const description =
    "Newark Tyres offers seamless mobile car battery replacement services in Newark & Sherwood. Don't get stranded – trust our experts to deliver a swift and convenient solution, right at your location!";
const pageTitle = heading;
const heroHeadline = "Mobile Car Battery Replacement";
const heroId = "heroBatteries";
const heroTagline =
    "If you have a flat battery and need a mobile service, we can come to you today!";
const contentHeading = "Car & Van Batteries";
const contentSubheading =
    "Free Mobile Battery Replacement Service Across Newark & Sherwood";
const iconOne = "bi bi-calendar-fill";
const iconTwo = "bi bi-clock-fill";
const iconThree = "bi bi-car-front-fill";
const featureOne = "Open 7 Days a Week";
const featureTwo = "Same Day Service";
const featureThree = "Free Mobile Fitting";

import ServiceLayout from "../../layouts/ServiceLayout.astro";
---

<ServiceLayout
    pageTitle={pageTitle}
    description={description}
    heroHeadline={heroHeadline}
    heroId={heroId}
    heroTagline={heroTagline}
    contentHeading={contentHeading}
    contentSubheading={contentSubheading}
    iconOne={iconOne}
    iconTwo={iconTwo}
    iconThree={iconThree}
    featureOne={featureOne}
    featureTwo={featureTwo}
    featureThree={featureThree}
>
    <p>
        When your car's battery fails, it can be a frustrating and unexpected
        inconvenience. At Newark Tyres, we understand the importance of keeping
        your vehicle on the road. That's why we offer reliable and efficient
        mobile car battery replacement services that come to you, wherever you
        are in Newark & Sherwood.
    </p>
</ServiceLayout>
