---
const heading = "Locking Wheel Nut Removal";
const pageTitle = heading;
const description = "Lost your locking wheel nut key? Don't panic! Newark Tyres offers a free mobile service across Newark & Sherwood to come to you and remove those lockers today. Get back on the road hassle-free – call us now for prompt assistance!";
const heroHeadline = heading;
const heroId = "heroLWNR"
const heroTagline = "Lost or broke your locking wheel nut key? Give us a call today.";
const contentHeading = "Locking Wheel Nut Removal";
const contentSubheading = "Mobile Locking Wheel Nut Removal Service Across Newark & Sherwood";
const iconOne = "bi bi-calendar-fill";
const iconTwo = "bi bi-clock-fill";
const iconThree = "bi bi-car-front-fill";
const featureOne = "Open 7 Days a Week";
const featureTwo = "Same Day Service";
const featureThree = "All Car Makes & Models";

import ServiceLayout from "../../layouts/ServiceLayout.astro";
---

<ServiceLayout pageTitle={pageTitle} description={description} heroHeadline={heroHeadline} heroId={heroId} heroTagline={heroTagline} contentHeading={contentHeading} contentSubheading={contentSubheading} iconOne={iconOne} iconTwo={iconTwo} iconThree={iconThree} featureOne={featureOne} featureTwo={featureTwo} featureThree={featureThree}>
    <p>At Newark Tyres, we provide a mobile locking wheel nut removal service across many areas of Newark and Sherwood. If you've lost your locking wheel nut key, or the wheel nuts have been over-tightened, we can come to you at home or roadside and remove them today. Send us a message to get a quote.</p>
</ServiceLayout>