---
const heading = "Mobile Tyre Fitting"
const pageTitle = heading;
const description = "Newark Tyres delivers unmatched mobile tyre fitting services in Newark & Sherwood, ensuring your convenience with same-day fitting available. Experience hassle-free tyre replacements at your location, whether you're at home or work."
const heroHeadline = heading;
const heroId = "heroMTF"
const heroTagline = "Why spend hours at a tyre shop? Change your tyres the easy way with our mobile fitting service!";
const contentHeading = heading;
const contentSubheading = "Save time and money with our convenient mobile service";
const iconOne = "bi bi-calendar-fill";
const iconTwo = "bi bi-clock-fill";
const iconThree = "bi bi-car-front-fill";
const featureOne = "Open 6 Days a Week";
const featureTwo = "Same Day Fitting";
const featureThree = "Cars, Vans, 4x4s & Caravans";
import ServiceLayout from "../../layouts/ServiceLayout.astro";
---
<ServiceLayout pageTitle={pageTitle} description={description} heroHeadline={heroHeadline} heroId={heroId} heroTagline={heroTagline} contentHeading={contentHeading} contentSubheading={contentSubheading} iconOne={iconOne} iconTwo={iconTwo} iconThree={iconThree} featureOne={featureOne} featureTwo={featureTwo} featureThree={featureThree}>
    <p>At Newark Tyres, we understand that getting new tyres can be a hassle, which is why we offer a convenient mobile service that brings our expert technicians right to your doorstep. Whether you need new tyres for your car, van, or 4x4, we have a wide range of options to choose from, and our mobile service makes it easy for you to get the tyres you need wherever you are.</p>
</ServiceLayout>
