---
const heading = "Mobile Puncture Repair"
const pageTitle = heading;
const description = "Stuck with a flat tyre and no spare? Newark Tyres' mobile puncture repair service is here to rescue you. Our expert technicians provide on-the-spot solutions, ensuring you're back on the road quickly and worry-free.";
const heroHeadline = heading;
const heroId = "heroMPR";
const heroTagline = "Stuck at home with a flat tyre? We can come to you and fix it today!";
const contentHeading = heading;
const contentSubheading = "Save money by having your punctured tyre fixed at home";
const iconOne = "bi bi-calendar-fill";
const iconTwo = "bi bi-clock-fill";
const iconThree = "bi bi-car-front-fill";
const featureOne = "Open 6 Days a Week";
const featureTwo = "Same Day Fitting";
const featureThree = "Cars, Vans, 4x4s & Caravans";

import ServiceLayout from "../../layouts/ServiceLayout.astro";
---


<ServiceLayout pageTitle={pageTitle} description={description} heroHeadline={heroHeadline} heroId={heroId} heroTagline={heroTagline} contentHeading={contentHeading} contentSubheading={contentSubheading} iconOne={iconOne} iconTwo={iconTwo} iconThree={iconThree} featureOne={featureOne} featureTwo={featureTwo} featureThree={featureThree}>
    <p>If you've got a flat tyre and need a puncture repair at home, look no further! Here at Newark Tyres, we offer a convenient mobile tyre repair service at your home or workplace. All you have to do is send us a message with your vehicle details and postcode. We can then arrange one of our technicians to come to you and repair your tyre the very same day.</p>
</ServiceLayout>